# virtualenv
env
venv/
ENV/
.env
# Ignore Django Migrations in Development if you are working on team
# Only for Development only
**/migrations/**
!**/migrations
!**/migrations/__init__.py
_pycache__/
__pycache__
*/__pycache__
*/__pycache__/
**/__pycache__
**/__pycache__/
